$primary:#f1cf38;
$secondary:#000000;
$light:#FCA7A5;
$warning:#5A3E79;

// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


$custom-theme-colors: (
    "first":#f1cf38,
    "second":#ffffff,
    "third" : #FCA7A5,
    "fourth" : #5A3E79,
);
$custom-theme-colors:map-merge($custom-theme-colors, $theme-colors);
$first:#f1cf38;
$second:#ffffff;
$third:#FCA7A5;
$fourth:#5A3E79;
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";npm install bootstrap@5.2.3
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

  //color:#843e1c
// .navbar{
//     background-color: #ece3cdde;
// }

//   .nav-link{
//     color: #A76286;
//     font-weight: 500;
//     padding:20px 20px;
//     margin: 0 10px;
//   }
#navbar{
  background-color:#f1cf38
}
#navtext{
  text-transform: uppercase;
  font-weight: 600;
}
#text{
  color: #f7f5f5;
}
#text:hover{
  color: #7733c5;
}

 .line{
  border-bottom: #000000;
  border-style: solid;
  border-width: 3px;
  width:50px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
 }
 #header{
  color:#843e1c;
 }
 #configuration{
background-color:#843e1c;
padding:20px 0px

 }

 #sec-head{
color: #ffffff;
text-transform: uppercase;
letter-spacing: 8px;
margin-bottom: 10px;
 }

 #head-line{
  border-bottom: #000000;
  border-style: solid;
  border-width:3px;
  width:60px;
  margin: auto;
 }
 #around{
  background-color: #843e1c;
 }
 .aroundline{
  border-bottom:black;
 }
 .linee{
  border-bottom: #f7f5f5;
  border-style: solid;
  border-width: 2px;
  width:60px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
 }

 .wrap{
  border: 6px solid whitesmoke;
  border-bottom: 10px solid white;
  margin-bottom: 20px;
 }
 .amen{
  text-transform: uppercase;
 }
 .zoom{
  overflow:hidden
  //transform: translate(-50%,-50%);
 }
 .zoom img{
  //transform: scale(1);
  transition: 0.7s ;
 }
 .zoom img:hover{
  transform: scale(1.22);
 }

// .fa-map-marker:before{
// content:"f041" ;
// }
#fixedimage{
  background-image: url(../images/con_1.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.para{
  font-size: 18px;
}
.write{
  font-size: 0.8rem;
}

.zoomin{
  overflow:hidden
  //transform: translate(-50%,-50%);
 }
 .zoomin img{
  //transform: scale(1);
  transition: 0.7s ;
 }
 .zoomin img:hover{
  transform: scale(1.15);
 }